h2, h4 {
	text-align: center;
}

#feel {
	color: cadetblue;
}

#div1, #div2 {
	display: inline-block;
}

#wrapper {
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightblue;
	border-style: solid;
	border-color: lightblue;
  border-radius: 5px;
}

p {
	margin-left: 10px;
}

#details-con {
	background-color: cornsilk;
}